.p1 {
    background-color: red;
}

.p2 {
    background-color: green;
}

.fondoRojo {
    background-color: red;
}

.fondoVerde {
    background-color: green;
}

.fondoAzul {
    background-color: blue;
}

#contenedor1 {
    width: 150px;
    margin: auto;
}

.contenedor2 {
    width: 300px;
    margin: auto;
}

.tablaMovimientos {
    background-color: bisque;
    border: black 1px solid;
    width: 500px;
    margin: auto;
}

table {
    border-spacing: 0px;
}

td {
    border-top: black 1px solid;
}